:host {
  display: block;
}
main {
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;

  h3 {
    margin: 2rem 0;
  }
}
